Adafruit-DHT==1.2.0
BrickPi==0.0.0
GoPiGo==0.0.0
Pillow==2.6.1
RPi.GPIO==0.6.2
RTIMULib==7.2.1
SpeechRecognition==3.4.6
argparse==1.2.1
chardet==2.3.0
colorama==0.3.2
dnspython==1.12.0
grovepi==0.0.0
html5lib==0.999
lxkeymap==0.1
ndg-httpsclient==0.3.2
numpy==1.8.2
pexpect==3.2
picamera==1.11
pifacecommon==4.2.1
pifacedigitalio==3.1.0
psutil==2.1.1
pyOpenSSL==0.13.1
pyasn1==0.1.7
pycrypto==2.6.1
pygame==1.9.2a0
pygobject==3.14.0
pyserial==2.6
python-lirc==1.2.1
reportlab==3.1.8
requests==2.4.3
scratchpy==0.1.0
sense-hat==2.1.0
six==1.8.0
smbus==1.1
urllib3==1.24.2
websockify==0.6.0
wheel==0.24.0
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
